
footer {
    bottom: 0;
    left: 0;
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: peru;
}

footer p {
    width: 100%;
    text-align: center;
    color: whitesmoke;
}
