
#app-header {
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    align-content: center;
    justify-content: center;
    background-color: peru;
    height: 15vmin;
    max-height: 100px;
    padding: 0 0 5vmin 0;
    margin: 0 0 calc(5vmin) 0;
}

#app-header h1 {
    color: whitesmoke;
    padding: 0 0 0 0;
    font-size: calc(10px + 5vmin);
    margin: 5vmin 5vmin 5vmin 5vmin;
}

#app-header h2 {
    color: white;
    padding: 0 0 0 0;
    font-size: calc(5px + 2.5vmin);
    margin: 5vmin 5vmin 5vmin 5vmin;
}
